body {
    background-color: lightcoral;
}
.web-title {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 10px;
}

.main-pic, img {
    width: 100%;
    height: 400px;
    
}